<h1>Find Rout</h1>

<div>
  <%= form_tag search_path, local: true, data: { turbo: false } do %>
    <div>
      <p>First Station</p>
      <%= select_tag :start_station, options_from_collection_for_select(@stations, :id, :title) %>
    </div>
    <div>
      <p>Last Station</p>
      <%= select_tag :end_station, options_from_collection_for_select(@stations, :id, :title) %>
    </div>
    <div>
      <p><%= submit_tag "Search" %></p>
    </div>
  <% end %>
</div>