<p>Hello, <%= @user.first_name %></p>
<p> You bought ticket for rout <%= @ticket.rout_name %></p>
<p> To see ticket go <%= link_to 'here', @ticket %></p>
<p>All yours tickets u can see <%= link_to 'here', tickets_url %></p>